<!doctype html>
<html lang="ko" class="ko">
<head itemscope>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
<meta name="robots" content="max-image-preview:large, max-video-preview:0">
<link rel="canonical" id="canonical" href="https://www.yna.co.kr/esg/index">
<meta property="og:url" content="https://www.yna.co.kr/esg/index">
<meta name="twitter:url" content="https://www.yna.co.kr/esg/index">
<meta itemprop="url" content="https://www.yna.co.kr/esg/index">
<meta property="og:type" content="website">
<meta name="resource-type" content="website">
<meta name="copyright" content="Yonhapnews">
<meta property="og:site_name" content="연합뉴스">
<meta name="twitter:site" content="@yonhaptweet">
<meta property="article:publisher" content="https://www.facebook.com/yonhap">
<meta name="twitter:creator" content="@yonhaptweet">
<meta property="og:locale" content="ko_KR">
<meta itemprop="inLanguage" content="ko_KR">
<title>ESG - 연합뉴스 </title>
<meta property="og:title" content="ESG - 연합뉴스 | 연합뉴스">
<meta name="title" content="ESG - 연합뉴스 | 연합뉴스">
<meta name="twitter:title" content="ESG - 연합뉴스 | 연합뉴스">
<meta itemprop="name" content="ESG - 연합뉴스 | 연합뉴스">
<meta property="og:description" content="연합뉴스가 제공하는 ESG 전문 뉴스서비스로 ESG 관련 최신 소식과 기업정보를 제공합니다.">
<meta name="description" content="연합뉴스가 제공하는 ESG 전문 뉴스서비스로 ESG 관련 최신 소식과 기업정보를 제공합니다.">
<meta name="twitter:description" content="연합뉴스가 제공하는 ESG 전문 뉴스서비스로 ESG 관련 최신 소식과 기업정보를 제공합니다.">
<meta itemprop="description" content="연합뉴스가 제공하는 ESG 전문 뉴스서비스로 ESG 관련 최신 소식과 기업정보를 제공합니다.">
<meta property="article:author" content="https://www.facebook.com/yonhap">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="https://r.yna.co.kr/global/home/v01/img/yonhapnews_logo_600x325_kr05.jpg">
<meta property="og:image" content="https://r.yna.co.kr/global/home/v01/img/yonhapnews_logo_600x325_kr05.jpg">
<meta property="og:image:width" content="600">
<meta property="og:image:height" content="325">
<meta name="image" content="https://r.yna.co.kr/global/home/v01/img/yonhapnews_logo_600x325_kr05.jpg">
<meta itemprop="image" content="https://r.yna.co.kr/global/home/v01/img/yonhapnews_logo_600x325_kr05.jpg">
<meta itemprop="thumbnailUrl" content="https://r.yna.co.kr/global/home/v01/img/yonhapnews_logo_600x325_kr05.jpg">
<link rel="shortcut icon" type="image/x-icon" href="https://r.yna.co.kr/www/home_n/v02/img/favicon.ico">
<link rel="icon" type="image/x-icon" href="https://r.yna.co.kr/www/home_n/v02/img/favicon.ico">
<link rel="stylesheet preload" as="style" type="text/css" href="https://r.yna.co.kr/global/font/SpoqaHanSansNeo/v01/font.css?v=20250228_1510">
<link rel="stylesheet" href="https://r.yna.co.kr/www/home_n/v02/css/default.css?v=20250228_1510">
<link rel="stylesheet" media="screen and (min-width:1025px)" href="https://r.yna.co.kr/www/home_n/v02/css/media.css?v=20250228_1510">
<link rel="stylesheet" media="screen and (min-width:1025px)" href="https://r.yna.co.kr/www/home_n/v02/css/article.css?v=20250228_1510">
<link rel="stylesheet" media="screen and (min-width:1025px)" href="https://r.yna.co.kr/www/home_n/v02/css/common.css?v=20250228_1510">
<link rel="stylesheet" media="screen and (min-width:1025px)" href="https://r.yna.co.kr/www/home_n/v02/css/style.css?v=20250228_1510">
<link rel="stylesheet" media="screen and (max-width:1024px)" href="https://r.yna.co.kr/m-kr/home/v03/css/article.css?v=20250124_0935">
<link rel="stylesheet" media="screen and (max-width:1024px)" href="https://r.yna.co.kr/m-kr/home/v03/css/common.css?v=20250124_0935">
<link rel="stylesheet" media="screen and (max-width:1024px)" href="https://r.yna.co.kr/m-kr/home/v03/css/style.css?v=20250124_0935">
<link rel="stylesheet" href="https://r.yna.co.kr/www/esg/css/contents.css?v=20250222_0412">
<link rel="stylesheet" href="https://r.yna.co.kr/www/esg/css/contents_m.css?v=20250222_0412">
<script src="https://r.yna.co.kr/www/home_n/v02/js/jquery-1.12.4.js"></script>
<!--[if (IE 8)|(IE 9)]><script src="//rd.yna.co.kr/common/js/jquery.xdr.min.js?v=201811282135"></script><![endif]-->
<script src="https://r.yna.co.kr/global/lib/v01/js/jquery.tmpl.min.js"></script>
<script src="https://r.yna.co.kr/global/lib/v01/js/underscore-min.js"></script>
<script src="https://rd.yna.co.kr/global/js/lib.js"></script>
<script src="https://r.yna.co.kr/global/home/v01/js/video.js"></script>
<script src="https://r.yna.co.kr/www/esg/js/plugin.js?v=20250228_1510"></script>
<script src="https://rd.yna.co.kr/www/js/kr_static.js?v=20250228_1510"></script>
<script src="https://rd.yna.co.kr/global/js/serviceCore.js?v=20250228_1510"></script>
<script src="https://rd.yna.co.kr/global/js/mediaCompiler.js?v=20250228_1510"></script>
<script src="https://r.yna.co.kr/www/home_n/v02/js/common_site.js?v=20250205_1330"></script>
<script src="https://r.yna.co.kr/www/esg/js/common.js?v=20250221_1050"></script>
<script id="GAStatScript">
function statGACheck(code) {
	let headTag = document.getElementsByTagName('head')[0];
	let gtagScript = document.createElement('script'); 
	gtagScript.async = true;
	gtagScript.src = "https://www.googletagmanager.com/gtag/js?id="+code;
	headTag.appendChild(gtagScript);
}
function statGAInit() {
	let gtagId = '';
	let queryMatch = window.location.search.match(/app=(ios|aos)/i);
	if (queryMatch){
		gtagId = 'G-QSWSH4MD0M';
	}else{
		gtagId = 'G-3JKE3F58CD';
	}
	statGACheck(gtagId);
	window.dataLayer = window.dataLayer || [];
	function gtag() {dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', gtagId);
}
statGAInit();
</script>
<script defer src="//rd.yna.co.kr/global/js/eas/eas.min.js"></script>
<script type="text/javascript" src="https://r.yna.co.kr/global/lib/v01/js/nlogger.js" ></script>
<script type="text/javascript">
// NLOGGER 로깅 설정
nLogger.configure({
	nth_service_id: "www.yna.co.kr", // 로그 생성 단위, 값 지정 필요
	nth_logging_url_base_http: "http://wl.yna.co.kr/nlog", // 수집 서버 주소
	nth_logging_url_base_https: "https://wl.yna.co.kr/nlog" // 수집 서버 주소
});
// NLOGGER 기본 페이지뷰 로깅
nLogger.log();
</script>
<script src="https://cdp.yna.co.kr/script/1.0.0/yna_crm_log_module.min.js"></script>
<script>
	window.__YNALogModuleDataLayer = window.__YNALogModuleDataLayer || [];
	window.__YNALogModuleDataLayer.push({ type: 'pageview', option: { sid: 'YNA' } });
</script>
<script type="application/ld+json">
{
	"@context": "https://schema.org","@type": "WebSite",
	"url": "https://www.yna.co.kr/",
	"@id": "https://www.yna.co.kr/#publisher",
	"potentialAction": [{"@type": "SearchAction","target": "https://www.yna.co.kr/search/index?query={query}","query-input": {"@type": "PropertyValueSpecification","valueRequired": true,"valueName": "query"}}]
}
</script>
<script type="application/ld+json">
{
	"@context": "https://schema.org","@type": "NewsMediaOrganization",
	"name" : "연합뉴스" ,"alternateName":  ["YNA", "YonhapNews", "Yonhap News Agency", "韩联社", "聯合ニュース", "وكالة يونهاب للانباء", "AGENCIA DE NOTICIAS YONHAP", "AGENCE DE PRESSE YONHAP"],
	"url": "https://www.yna.co.kr/",
	"@id": "https://www.yna.co.kr/#publisher",
	"logo": {"@context": "https://schema.org","@type": "ImageObject","url": "https://r.yna.co.kr/global/home/v01/img/yonhapnews_logo_600x600_kr01.jpg","width": 600,"height": 600},
	"image": {"@context": "https://schema.org","@type": "ImageObject","url": "https://r.yna.co.kr/global/home/v01/img/yonhapnews_logo_1200x800_kr01.jpg","width": 1200, "height": 800},
	"ethicsPolicy": "https://www.yna.co.kr/policy/ethics",
	"foundingDate": "1980-12-19",
	"address": {"@type": "PostalAddress", "postalCode": "03143", "addressCountry": "KR", "addressRegion": "서울특별시", "addressLocality": "종로구", "streetAddress": "율곡로2길 25"},"telephone": "+82-2-398-3114",
	"sameAs": ["https://www.facebook.com/yonhap","https://twitter.com/yonhaptweet","https://www.instagram.com/yonhap_news/","https://www.facebook.com/yonhapvideo/","https://www.youtube.com/channel/UCj3_t5p4L4aFsvdW3uHjnnw","https://www.youtube.com/channel/UCHzW_7Mf8G0JxP4b0LoAd7A","https://www.youtube.com/channel/UCR-L8oZkHzgDh1ahJhH2WDQ","https://www.youtube.com/channel/UChX-Cgkfava-G-LlfwC9v_g","https://ko.wikipedia.org/wiki/%EC%97%B0%ED%95%A9%EB%89%B4%EC%8A%A4"]
}
</script>
<script type="application/ld+json">
{
	"@context": "https://schema.org", "@type": "BreadcrumbList",
	"itemListElement": [
		
		
		{"@type": "ListItem","position": 1,"item": {"@id": "https://www.yna.co.kr/","name": "연합뉴스"}},
		
		
		
		{"@type": "ListItem","position": 2,"item": {"@id": "https://www.yna.co.kr/esg/index","name": "ESG - 연합뉴스"}}
		
		
		
		
		
	]
}
</script>
<script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
<script>
  window.googletag = window.googletag || {cmd: []};
  googletag.cmd.push(function() {
	// 디지틀조선일보 배너 운영
    googletag.defineSlot('/21961356670/korean_pc_web_section_body_btf_300x250_200525', ['fluid', [300, 250]], 'div-gpt-ad-1590374394954-0').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.enableServices();
  });
</script>
</head>
<body class="page-main" data-nav="main">
<div id="skipNav">
<a href="https://www.yna.co.kr">연합뉴스</a>
<a href="#container">본문 바로가기</a>
<a href="#nav">메뉴 바로가기</a>
</div>
<hr>
<header class="wrap-header001 ">
<div id="header" class="header001">
<a class="logo-unit001" href="https://www.yna.co.kr/">
<strong class="ir-txt">국가기간뉴스 통신사 연합뉴스</strong>
</a>
<a class="site-name001" href="https://www.yna.co.kr/esg/index">
<strong class="ir-txt">연합 ESG</strong>
</a>
<button type="button" class="btn-unit011-srch02 btn-srch-open off">
<span class="txt-alt">검색창 열기/닫기</span>
<i class="ico01 ico-unit002-srch01" tabindex="-1"></i>
<i class="ico02 ico-unit002-close01" tabindex="-1"></i>
</button>
</div>
<div class="main-visual01">
<div class="main-visual-bg">
<div class="txt01">
<span class="blind">ESG</span>
</div>
<div class="txt02">
<span class="blind">Environment</span>
</div>
<div class="txt03">
<span class="blind">Social</span>
</div>
<div class="txt04">
<span class="blind">Governance</span>
</div>
</div>
</div>
<div class="nav-wrap001">
<nav id="nav" class="nav-unit001 swiper-container">
<ul class="swiper-wrapper">
<li class="swiper-slide active
">
<a href="https://www.yna.co.kr/esg/index">홈<i class="ico"></i></a>
</li>
<li class="swiper-slide ">
<a href="https://www.yna.co.kr/esg/news/index">최신기사<i class="ico"></i></a>
</li>
<li class="swiper-slide ">
<a href="https://www.yna.co.kr/esg/corporation">기업<i class="ico"></i></a>
</li>
<li class="swiper-slide ">
<a href="https://www.yna.co.kr/esg/government">정부/지자체<i class="ico"></i></a>
</li>
<li class="swiper-slide ">
<a href="https://www.yna.co.kr/esg/people">사람들<i class="ico"></i></a>
</li>
<li class="swiper-slide ">
<a href="https://www.yna.co.kr/board/esg/list">ESG보고서<i class="ico"></i></a>
</li>
</ul>
</nav>
</div>
<div class="search-area">
<form action="" id="totalSearchForm02">
<fieldset>
<legend class="blind">검색</legend>
<div class="area">
<label for="srchForm02">검색어를 입력하세요.</label>
<input type="search" name="query" autocomplete="off" id="srchForm02" class="text" style="IME-MODE:active">
<button type="submit" id="btnSrch02" class="btn-unit012-srch01 btn-srch-go01">
<i class="ico-unit003-srch01 ir-txt" tabindex="-1">검색하기</i>
</button>
</div>
</fieldset>
</form>
<button class="btn-close">
<i class="ico02 ico-unit002-close01" tabindex="-1"></i>
</button>
</div>
</header>
<div id="container" class="wrap-container">
<div class="container001">
<header class="title-unit000 hidden-obj">
<h1>ESG - 연합뉴스</h1>
</header>
<div class="content002 main-juyo">
<div class="list-unit001" id="mainJuyoTemp01">
<script type="text/x-jquery-tmpl">
		<ul class="list">
			{{each(index) dataList}}
			{{if index == 0}}
			<li>
				<article class="item-box01">
					<figure class="img-con">
						<a href="https://www.yna.co.kr/view/{{html CID}}?section=esg/corporation" class="img img-cover">
							<img src="https://img.yna.co.kr{{func(IMG,"image(P2)")}}" alt="{{func(TITLE,"character")}}">	
						</a>
					</figure>
					<div class="category">기업</div>
					<div class="news-con">
						<a href="https://www.yna.co.kr/view/{{html CID}}?section=esg/corporation" class="tit-wrap">
							<strong class="tit-news">{{html TITLE}}</strong>
						</a>
					</div>
					<a href="https://www.yna.co.kr/esg/corporation" class="go-btn"><strong>기업</strong> 기사 더보기</a>
				</article>
			</li>
			{{else index == 1}}
			<li>
				<article class="item-box01">
					<figure class="img-con">
						<a href="https://www.yna.co.kr/view/{{html CID}}?section=esg/government" class="img img-cover">
							<img src="https://img.yna.co.kr{{func(IMG,"image(P2)")}}" alt="{{func(TITLE,"character")}}">	
						</a>
					</figure>
					<div class="category">정부/지자체</div>
					<div class="news-con">
						<a href="https://www.yna.co.kr/view/{{html CID}}?section=esg/government" class="tit-wrap">
							<strong class="tit-news">{{html TITLE}}</strong>
						</a>
					</div>
					<a href="https://www.yna.co.kr/esg/government" class="go-btn"><strong>정부/지자체</strong> 기사 더보기</a>
				</article>
			</li>
			{{else}}
			<li>
				<article class="item-box01">
					<figure class="img-con">
						<a href="https://www.yna.co.kr/view/{{html CID}}?section=esg/people" class="img img-cover">
							<img src="https://img.yna.co.kr{{func(IMG,"image(P2)")}}" alt="{{func(TITLE,"character")}}">	
						</a>
					</figure>
					<div class="category">사람들</div>
					<div class="news-con">
						<a href="https://www.yna.co.kr/view/{{html CID}}?section=esg/people" class="tit-wrap">
							<strong class="tit-news">{{html TITLE}}</strong>
						</a>
					</div>
					<a href="https://www.yna.co.kr/esg/people" class="go-btn"><strong>사람들</strong> 기사 더보기</a>
				</article>
			</li>
			{{/if}}
			{{/each}}
		</ul>
	</script>
</div>
<div class="box-unit main-bnr01 m">
<span class="blind">배너</span>
<div data-cp="12229" data-type="auto" title="PW국_ESG_배너01_메인"></div>
</div>
</div>
<div class="content002 main-latest">
<div class="section001">
<div class="section001">
<section class="box-unit">
<div class="title-box">
<strong class="title-unit001 bold">
<span class="tit">최신기사</span>
</strong>
<a href="https://www.yna.co.kr/esg/news/index" class="btn-unit021">
<span class="txt">전체보기</span>
</a>
</div>
<div class="list-unit002" id="latestArticleTemp01">
<script type="text/x-jquery-tmpl">
				<ul class="list">
					{{each(idx) dataList}}
					<li>
						<div class="item-box01">
							{{if IMG != ""}}
							<figure class="img-con">
								<a href="https://www.yna.co.kr/view/{{html CID}}?section=esg/news/index" class="img img-cover">
									<img src="//img.yna.co.kr{{func(IMG,'image(T2)')}}" alt="{{func(TITLE,"character")}}">
								</a>
							</figure>
							{{/if}}
							<div class="news-con">
								<a href="https://www.yna.co.kr/view/{{html CID}}?section=esg/news/index" class="tit-wrap">
									<strong class="tit-news">{{html TITLE}}</strong>
								</a>
								<p class="lead">{{func(BODY,"ellipsis(100)")}}</p>
							</div>
						</div>
					</li>
					{{/each}}
				</ul>
			</script>
</div>
<div class="wrap-ads-latest pc">
<div class="ads-main-latest-pc"></div>
</div>
<div class="list-unit002" id="latestArticleTemp02">
<script type="text/x-jquery-tmpl">
				<ul class="list">
					{{each(idx) dataList}}
					<li>
						<div class="item-box01">
							{{if IMG != ""}}
							<figure class="img-con">
								<a href="https://www.yna.co.kr/view/{{html CID}}?section=esg/news/index" class="img img-cover">
									<img src="//img.yna.co.kr{{func(IMG,'image(T2)')}}" alt="{{func(TITLE,"character")}}">
								</a>
							</figure>
							{{/if}}
							<div class="news-con">
								<a href="https://www.yna.co.kr/view/{{html CID}}?section=esg/news/index" class="tit-wrap">
									<strong class="tit-news">{{html TITLE}}</strong>
								</a>
								<p class="lead">{{func(BODY,"ellipsis(100)")}}</p>
							</div>
						</div>
					</li>
					{{/each}}
				</ul>
			</script>
</div>
</section>
</div>
</div>
<div class="section002">
<div class="box-unit main-bnr01 pc">
<span class="blind">배너</span>
<div class="bnr-unit001 bnr02">
<a href="https://campaign.naver.com/collect_v2/?pcode=pressnetwork_fullcare&event_id=SME&target=https%253A%252F%252Fcampaign.naver.com%252Fsmefullcare%252Fonline%252F" target="_blank" rel="nofollow" >
<span class="blind">SME 풀케어 시스템, 사업의 시작부터 성공까지 받쳐주고 이어지는 가이드</span>
</a>
</div>
<div class="bnr-unit001 bnr03">
<a href="https://campaign.naver.com/collect_v2/?pcode=pressnetwork_finsupport&event_id=SME&target=https%253A%252F%252Ffinsupport.naver.com%252Fsettlement" target="_blank" rel="nofollow" >
<span class="blind">다음날 100%입금 수수료 0원</span>
</a>
</div>
</div>
<div class="box-unit main-video01">
<div id="yna-board-esg"></div>
<script src="https://r.yna.co.kr/www/home_n/v03/js/lib/handlebars-4.7.8.min.js"></script>
<script src="https://r.yna.co.kr/www/home_n/v03/js/lib/handlebars-helper.js"></script>
<script src="https://static.pfrt.yna.co.kr/www/board/js/yna-board-module-1.0.0.min.js?v=20250228_1510"></script>
<script id="boardList01_Template" type="text/x-handlebars-template">
		{{#if LIST}}
			<div class="title-box">
				<strong class="title-unit001 bold">
					<span class="tit">ESG보고서</span>
				</strong>
				<a href="{{LIST_URL}}" class="btn-unit021">
					<span class="txt">전체보기</span>
				</a>
			</div>
			<div class="list-unit008">
				<ul class="list">
					{{#each LIST}}
						<li>
							<a href="{{READ_URL}}">
								<strong class="tit-news">{{TITLE}}</strong>
								<div class="info-wrap">
									<span class="date">{{dateFormat REGIST_DATETIME 'YYYY.MM.DD'}}</span>
									{{#if IS_ATTACH}}
										<i class="ico"></i>
									{{/if}}
								</div>
							</a>
						</li>
					{{/each}}
				</ul>
			</div>
		{{/if}}
	</script>
<script>		
		new YNABoardFrontModule("yna-board-esg", { templateId: 'boardList01_Template' });
	</script>
</div>
</div>
</div>
</div>
</div>
<hr>
<div class="wrap-footer001">
<footer class="footer">
<a class="logo-unit011" href="https://www.yna.co.kr/">
<strong class="ir-txt">국가기간뉴스 통신사 연합뉴스</strong>
</a>
<a class="site-name011" href="https://www.yna.co.kr/esg/index">
<strong class="ir-txt">연합 ESG</strong>
</a>
<ul class="link-unit001">
<li><a href="https://www.yna.co.kr/aboutus/index" rel="nofollow">회사소개</a></li>
<li><a href="https://www.yna.co.kr/policy/copyright" rel="nofollow">저작권규약</a></li>
<li><a href="https://www.yna.co.kr/board/rights/list" rel="nofollow">수용자권익위원회</a></li>
<li><a href="https://www.yna.co.kr/policy/contents" rel="nofollow">콘텐츠자문위원회</a></li>
<li><a href="https://www.yna.co.kr/policy/complaint" rel="nofollow">고충처리</a></li>
<li><a href="https://join.yna.co.kr/ko/policy/terms" rel="nofollow">이용약관</a></li>
<li><a href="https://join.yna.co.kr/ko/policy/privacy" rel="nofollow" class="point01">개인정보처리방침</a></li>
<li><a href="https://www.yna.co.kr/board/reader/list" rel="nofollow">독자게시판</a></li>
<li><a href="https://www.yna.co.kr/board/jebo/index" rel="nofollow"title="새창" target="_blank">기사제보(02-398-3000)</a></li>
<li><a href="https://www.yna.co.kr/rss/index">RSS</a></li>
<li><a href="https://www.yna.co.kr/sitemap/index">사이트맵</a></li>
</ul>
<div class="link-con">
<a href="https://www.yna.co.kr/aboutus/index" rel="nofollow" class="btn-unit001"><span class="txt">회사소개</span></a>
<a href="https://www.yna.co.kr/rss/index" class="btn-unit001"><span class="txt">RSS</span></a>
<a href="https://www.yna.co.kr/sitemap/index" class="btn-unit001"><span class="txt">사이트맵</span></a>
</div>
<div class="txt-unit001">
<address class="txt01">
<span>연합뉴스 서울시 종로구 율곡로 2길 25</span><span>등록번호 문화, 나00009</span><br>
<span>등록일자 1980.12.29</span><span>발행일자 1980.12.29</span><span>Tel. 02-398-3114</span>
</address>
<p class="txt02"><span>(C) Yonhapnews</span><span>[대표이사] 황대일</span><span>[편집인] 심인성</span></p>
<p class="txt03">(C) Yonhapnews </p>
</div>
</footer>
</div>
<script id="siteJsonData">
(function(){
	SITE_DATA = JSON.stringify({
		"SITE_ID":"321200000000",
		"SITE_DEPTH":"1",
		"SITE1_LINK":"/esg/index",
		"SITE1_LINK_NAME01":"esg",
		"SITE1_NAME":"ESG - 연합뉴스",
		"SITE2_LINK":"",
		"SITE2_NAME":"",
		"SITE3_LINK":"",
		"SITE3_NAME":"",
		"SITE_SECTION":"/esg/index",
		"SITE_NAME":"ESG - 연합뉴스",
		"PAGE_TYPE": "",
		"PAGE_PATH":"/esg",
		"PAGE_NAME":"index",
	});
})();
</script>
<input type="hidden" id="domainId" value="1101">
<script src="https://rd.yna.co.kr/common/js/cp.js?v=20250228_1510"></script>
</body>
</html>